*{
    margin: 0;
}

header {
    background-color: aquamarine;
}

header *{
    display: inline-block;
}

h1{
    background-color: bisque;
    color:white;
    padding: 50px;
    display: inline-block;
}

.menu > li{

    color: black;
    width: auto;
    padding: 30px 25px;
}

nav{
    background-color: aquamarine;
}

header > img{
    position: absolute;
    top: 15px;
    width: 100px;
    right: 130px;
    
}

main > h2{

    margin:30px 0;
    font-size: 25px;
}

main > p{

    margin: 30px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}





