h1{
    background-color: bisque;
    color:white
}

.menu > li{

    background-color: aquamarine;
    color: black;
    width: 100%;
    display: inline-block;
    margin-right: 40px;
    padding-top: 30px;

   
}

p{
    
}